@import url("https://fonts.googleapis.com/css2?family=Anton&family=Courgette&family=Domine&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Domine", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    serif;
  background-image: linear-gradient(45deg, red, rgb(75, 8, 64), blue);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 10%;
  height: 10%;
  margin-right: 15px;
  justify-content: left;
}

.bcg {
  background: rgba(0, 0, 0, 0.7);
}

.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
  margin-bottom: 20px;
}

p {
  margin: 0 20%;
  padding: 1% 2%;
  color: white;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.7);
}

.btn-color {
  font-family: "Courgette", cursive;
  color: rgb(255, 72, 0);
}

.fnt {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
